body{
    margin: 0;
    padding: 0;
  }
  
  /* navbar */
  
  .navbar {
    justify-content: space-around;
    display: flex;
    background-color: black;
    height: 114px;
  }
  #logo {
    opacity: 50;
  }
  .options {
    text-align: right;
    margin: 2rem 0rem;
    color: white;
  }
  
  .options > div {
    padding: 1rem;
    display: inline-block;
    font-size: 1.5rem;
  }
  
  .options > div > a {
    color: white;
    text-decoration: none;
  }
  
  .options > div > a:hover {
    color: var(--another);
  }
  